<!-- templates/add_str_form.html -->
{% extends 'base.html' %}

{% block title %}Add Stock Requirement{% endblock %}

{% block content %}
<h2>Add Stock Requirement</h2>
<form action="{{ url_for('add_str') }}" method="post" class="form-grid">
    <div class="form-group">
        <label for="str_no">Stock Requirement Number:</label>
        <input type="text" id="str_no" name="str_no" required>
    </div>

    <div class="form-group">
        <label for="str_date">Date:</label>
        <input type="date" id="str_date" name="str_date" required>
    </div>

    <div class="form-group">
        <label for="shift">Shift:</label>
        <select id="shift" name="shift">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
        </select>
    </div>

    <div class="form-group">
        <label for="incharge">Incharge:</label>
        <input type="text" id="incharge" name="incharge" required>
    </div>

    <div class="form-group">
        <label for="req_raised_by">Requested By:</label>
        <input type="text" id="req_raised_by" name="req_raised_by" required>
    </div>

    <div class="form-group">
        <label for="required_for">Required For:</label>
        <input type="text" id="required_for" name="required_for" required>
    </div>

    <div class="form-group">
        <label for="material">Material:</label>
        <input type="text" id="material" name="material" required>
    </div>

    <div class="form-group">
        <label for="material_quantity">Material Quantity:</label>
        <input type="number" id="material_quantity" name="material_quantity" required>
    </div>

    <div class="form-group">
        <label for="amount_given">Amount Given:</label>
        <input type="text" id="amount_given" name="amount_given" required>
    </div>

    <div class="form-group">
        <label for="vehicle_assigned">Vehicle Assigned:</label>
        <input type="text" id="vehicle_assigned" name="vehicle_assigned" required>
    </div>

    <div class="form-group">
        <label for="vehicle_number">Vehicle Number:</label>
        <input type="text" id="vehicle_number" name="vehicle_number" required>
    </div>

    <div class="form-group">
        <label for="driver_number">Driver Number:</label>
        <input type="text" id="driver_number" name="driver_number" required>
    </div>
    <div class="form-group submit-group">
        <input type="submit" value="Submit">
    </div>
</form>
{% endblock %}
